/* 입력폼 */
input,
textarea,
select,
label,
button {
	display: inline-block;
	vertical-align: middle;
}

input {

	&[type=radio],
	&[type=checkbox] {
		margin-top: -1px;
	}
}

label input {

	&[type=radio],
	&[type=checkbox] {
		margin: -2px 2px 0 0;
	}
}

input:not([type=checkbox]):not([type=radio]),
select {
	height: 34px;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
	max-width: 100%;
	border: 1px solid #ccc;
	padding: 5px 12px;
	border-radius: 2px;
	color: #666;
	box-shadow: none;
	font-size: $font-size-base;
	line-height: 1.571428571428571;
}

input:not([type=checkbox]):not([type=radio]),
textarea {
	background: #fff;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input:not([type=checkbox]):not([type=radio]):focus,
textarea:focus,
select:focus {
	border-color: $color-primary;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 72, 255, 0.6);
}

input:not([type=checkbox]):not([type=radio]) {

	&[disabled],
	&[readonly] {
		border-color: #d0d0d0;
		background: #f9f9f9;
		opacity: 1;
	}
}

select {
	min-width: 115px;
	height: 34px;
	padding: 5px 20px 5px 8px;
	background-color: #fff;

	&[multiple] {
		height: auto;
	}

	&::-ms-expand {
		display: none;
	}
}

.ie9 select {
	padding-right: 3px;
	background: #fff;
}

input[type=file] {
	height: 34px;
}

textarea {
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
}

button,
input[type=submit] {
	border: 0;
	padding: 0;
	cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	$placeholder-color: #999;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&::-webkit-input-placeholder {
		color: $placeholder-color !important;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: $placeholder-color !important;
		opacity: 1;
	}
}

/* 체크박스 스위치 */
.form-switch {
	display: inline-block;
	margin: auto;
	text-align: center;

	input[type=checkbox] {
		display: none;
	}

	.btn-switch {
		display: block;
		position: relative;
		padding: 2px 8px;
		width: 44px;
		height: 22px;
		border-radius: 14px;
		color: #fff;
		font-size: 11px;
		line-height: 18px;
		white-space: nowrap;
		cursor: pointer;
		background-color: #999;
		transition-duration: .3s;
		-webkit-transition-duration: .3s;
		overflow: hidden;

		&:after {
			display: block;
			content: '';
			position: absolute;
			left: 2px;
			top: 2px;
			width: 18px;
			height: 18px;
			border-radius: 12px;
			background-color: #fff;
			transition-duration: .2s;
		}
	}

	input[type=checkbox] {
		&:checked+.btn-switch {
			color: #fff;
			background: $color-primary;

			&:after {
				left: 24px;
			}
		}

		&:disabled+.btn-switch {
			opacity: .4;
			cursor: default;
		}

		+.btn-switch {
			.yes {
				display: none;
				padding-right: 50%;
			}

			.no {
				display: block;
				padding-left: 50%;
			}
		}

		&:checked+.btn-switch {
			.yes {
				display: block;
			}

			.no {
				display: none;
			}
		}
	}
}

.input-file-item+.input-file-item {
	margin-top: 5px;
}

.input-group {
	position: relative;
	display: table;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	.input {
		display: table-cell;
		width: 100% !important;
		border-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input {

		&[type=text],
		&[type=password] {
			display: table-cell;
			width: 100% !important;
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.input-addon {
		+ {
			.input {
				margin-left: 10px;
				border-right: 1px solid #ccc;
			}

			input {

				&[type=text],
				&[type=password] {
					margin-left: 10px;
					border-right: 1px solid #ccc;
				}
			}
		}

		display: table-cell;
		width: 1%;
		padding-left: 0;
		vertical-align: middle;
		white-space: nowrap;
		font-size: 0;

		.btn {
			border-radius: 0;
			border-right: 1px solid rgba(255, 255, 255, 0.15);

			&:last-child {
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
				border-right-color: transparent;
			}

			+.btn.basic {
				margin-left: -1px;
			}

			.fa {
				margin-right: 0;
			}
		}
	}
}

.inline-item {
	display: inline-block;
	vertical-align: middle;
}

.input-file-item .input-fake {
	width: calc(100% - 176px);
}

div.attach-item+div.attach-item {
	margin-top: 5px;
}

.attach-item .image-preview {
	display: inline;

	figcaption {
		display: inline;
	}

	margin-left: 10px;
}

.image-preview {
	figcaption {
		margin: 0 10px;
	}

	.file-size {
		margin-left: 10px;
		color: #666;
	}

	.file-tmb {
		max-width: 100px;
		max-height: 34px;
		background-color: cyan;
	}
}