.clearfix:after {
	display: block;
	clear: both;
	content: '';
}

.al {
	text-align: left !important;
}

.ar {
	text-align: right !important;
}

.ac {
	text-align: center !important;
}

.fl {
	float: left !important;
}

.fr {
	float: right !important;
}

.fn {
	float: none !important;
}

.vt {
	vertical-align: top;
}

.vm {
	vertical-align: middle;
}

.vb {
	vertical-align: bottom;
}